body{
    margin:0;
    padding-top:550px;
    text-align: center;
}
.profile{
    border-radius:50% ;
}
#welcome{
    background:linear-gradient(#a83232 0%,#3432a8 100% );
    height:100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display:table;
}
h2{
    font-family:fantasy;
    font-weight: 300;
}
#name{ 
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 300;

}
.line{
    background-color: black;
    height:6px;
    width:70px;
    margin:8px auto;
}
#bio{
    padding: 90px;

}
#h1{
    font-family: fantasy;
    font-weight: 300;
}
.menu{
    z-index: 10;
    position: fixed;
    margin-top:0px;
    top:0px;
    width:100%;
    background-color: antiquewhite;
}
.links{
    display:inline;
    padding-left: 48px;
    padding-right: 31px;
    padding-top: 40px;
    padding-bottom: 39px;
    font-size:21px ;
    font-family: 'Poppins', sans-serif;

}
a{
    text-decoration: none;
}
.links:hover{
font-size:25px ; 
text-decoration: underline;   
}
#contacts{
    width: 100%;
}
#writings a{
color:blue !important;
}